.skin-blue .main-header>.navbar {
background-color: #1E407C;
}
.content-wrapper,.right-side {
background-color: white;
}
.skin-blue .main-header .logo {
background-color: #1E407C;
color: white;
}
.skin-blue .main-header .logo:hover {
background-color: black;
}
aside.main-sidebar {
background-color: black !important;
}
.main-header .logo {
font-family: "Georgia", Times, "Times New Roman", serif;
font-weight: bold;
font-size: 15px;
}

#go2,#check1, #check2,#check3, #check4, #check5, #check6{
  background-color: #1E7B14;
  color:#FFFFFF;
}

.popover-title {
  color: #FFFFFF;
  background-color:#1E7B14;
}
.popover-content {
color: #1C2C5B;
font-size: 13px;
}

.btn-myClass {
    background-color: #000000;
    border: none;
    color: white;
}
.circle:hover{
  border-radius:50%;
}

